.ui-footer h4.ui-title 
{
   
    font-family:Cabin;
    font-size:13px;
    color: #6d6d6d;
}
.images
{
    border-radius:10px;
    width:135px;
    height:120px;
    }
#imagesTable .ui-block-a, #imagesTable .ui-block-b, #videosTable .ui-block-a, #videosTable .ui-block-b
{
    text-align:center;  
    }
#logo
{
    width:30%;
    max-width:150px;
    display: block;
    margin:0 auto;
    }
#photoPlaceHolder
{
    display: block;
    margin:0 auto;
    width:100%;
    }
#photo section
{
    background:black;
    }
#views section
{
    text-align:center;
    }